@font-face {
  font-family: "Poppins";
  src: url("/frontend/assets/fonts/poppins/Poppins-Bold.ttf"),
    url("/frontend/assets/fonts/poppins/Poppins-Black.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  width: 220px;
  background-color: #c7b198;
  color: white;
  height: 100vh;
  padding: 1rem;
  position: fixed;
}

.sidebar h2 {
  margin-top: 3rem;
  font-size: 2.5rem;
  text-align: center;
  color: rgba(121, 77, 52, 0.767);
}

.sidebar h2:hover {
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar ul li {
  margin: 2rem 0;
  font-weight: bold;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background: none;
  text-align: left;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
}

.sidebar button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  font-family: "Poppins";
  background: none;
  color: white;
}

.sidebar ul li a:hover,
#logout-btn:hover {
  background-color: rgba(121, 77, 52, 0.767);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.container .contents {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-left: 200px;
}

.data1,
.data2,
.data3 {
  width: 400px;
  height: 150px;
  font-size: 2rem;
  border-left: 6px solid rgba(121, 77, 52, 0.767);
  padding: 20px;
  text-align: center;
  margin-top: 100px;
  border-radius: 10px;
  background-color: #c7b198;
}
