@font-face {
  font-family: "Poppins";
  src: url("/frontend/assets/fonts/poppins/Poppins-Bold.ttf"),
    url("/frontend/assets/fonts/poppins/Poppins-Black.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

.profile-container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 400px;
  background-color: #c7b198;
  width: 500px;
}

.profile-header {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.profile-info {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.profile-actions {
  display: flex;
  gap: 10px;
}

.profile-actions button {
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  background-color: rgba(121, 77, 52, 0.767);
  margin-bottom: 30px;
}

.profile-actions button:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(51, 34, 22, 0.767);
}

.side-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 300px;
  background: #c7b198;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  padding: 20px;
  z-index: 1000;
  gap: 20px;
}

.side-modal.open {
  transform: translateX(0);
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.modal-content h3 {
  font-size: 2rem;
}

.modal-content h4 {
  font-size: 1.5rem;
}

.modal-content #editName {
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}

.modal-content #editEmail {
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}

.modal-content #oldPassword {
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}

.modal-content #newPassword {
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}

.profileButtons {
  display: flex;
  gap: 20px;
}

.passwordButtons {
  display: flex;
  gap: 20px;
}

.profileButtons button {
  padding: 10px;
  cursor: pointer;
  width: 70px;
  border-radius: 10px;
  border: none;
  background-color: rgba(121, 77, 52, 0.767);
}

.passwordButtons button {
  padding: 10px;
  width: 70px;
  border-radius: 10px;
  border: none;
  background-color: rgba(121, 77, 52, 0.767);
}

.profileButtons button:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(51, 34, 22, 0.767);
}

.passwordButtons button:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(51, 34, 22, 0.767);
}
