<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
</head>
<body>
    <div class="book-grid">

    <div class="book-card">
        <h2 class="book-title">The return of mount hua sect</h2>
        <p class="book-author">by F. Scott Fitzgerald</p>
        <div class="book-info">
            <span class="label">Date Borrowed:</span>
            <span class="value">2025-11-18</span>
        </div>
    </div>

     <div class="book-card">
        <h2 class="book-title">1984</h2>
        <p class="book-author">by George Orwell</p>
        <div class="book-info">
            <span class="label">Date Borrowed:</span>
            <span class="value">2025-11-18</span>
        </div>
    </div>

    <div class="book-card">
        <h2 class="book-title">Atomic Habits</h2>
        <p class="book-author">by James Clear</p>
        <div class="book-info">
            <span class="label">Date Borrowed:</span>
            <span class="value">2025-11-18</span>
        </div>
    </div>

    <div class="book-card">
        <h2 class="book-title">Dune</h2>
        <p class="book-author">by Frank Herbert</p>
        <div class="book-info">
            <span class="label">Date Borrowed:</span>
            <span class="value">2025-11-18</span>
        </div>
    </div>

    <div class="book-card">
        <h2 class="book-title">The Hobbit</h2>
        <p class="book-author">by J.R.R. Tolkien</p>
        <div class="book-info">
            <span class="label">Date Borrowed:</span>
            <span class="value">2025-11-18</span>
        </div>
    </div>

    <div class="book-card">
        <h2 class="book-title">Harry Potter</h2>
        <p class="book-author">by J.K. Rowling</p>
        <div class="book-info">
            <span class="label">Date Borrowed:</span>
            <span class="value">2025-11-18</span>
        </div>
    </div>

</div>


</body>
</html>