<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/home.css" />
    <title>Header</title>
  </head>
  <body>
    <div class="sidebar">
      <h2>AjinLib</h2>
      <ul>
        <li><a href="/frontend/src/pages/index.html">Home</a></li>
        <li><a href="/frontend/src/pages/books.html">Books</a></li>
        <li><a href="/frontend/src/pages/profile.html">Profile</a></li>
        <li><button id="logout-btn">Logout</button></li>
      </ul>
    </div>

    <script type="module" src="/frontend/javascript/home.js"></script>
  </body>
</html>
