<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/home.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>AJIN'S</h1>
        <nav>
            <a href=""><li>Home</li></a>
            <a href="/frontend/src/pages/books.html"><li>Books</li></a>
            <a href="/frontend/src/pages/profile.html"><li>Profile</li></a>
        </nav>
        <button>Log Out</button>
    </header>
</body>
</html>