* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body {
    height: 100%;
}

header {
    background: #c7b198;
    display: flex;
    padding: 20px;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
    align-items: center;
    margin: auto;
    text-decoration: none;
    list-style: none;
}

header nav a{
    background-color: aliceblue;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 10px;
}

header nav a:hover {
    background-color: rgb(207, 148, 99);
    transition: 0.5s;
}

header button {
    padding: 10px;
    border-radius: 10px;
    border: none;
}

header button:hover {
    cursor: pointer;
    background-color: rgb(207, 148, 99);
    transition: 0.5s;
}