@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/poppins/Poppins-Bold.ttf"),
    url("../assets/fonts/poppins/Poppins-Black.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  width: 220px;
  background-color: #c7b198;
  color: white;
  height: 100vh;
  padding: 1rem;
  position: fixed;
}

.sidebar h2 {
  margin-top: 3rem;
  font-size: 2.5rem;
  text-align: center;
  color: rgba(121, 77, 52, 0.767);
}

.sidebar h2:hover {
  cursor: pointer;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar ul li {
  margin: 2rem 0;
  font-weight: bold;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background: none;
  text-align: left;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
}

.sidebar button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  font-family: "Poppins";
  background: none;
  color: white;
}

.sidebar ul li a:hover,
#logout-btn:hover {
  background-color: rgba(121, 77, 52, 0.767);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  justify-items: center;
}

.book-card {
  width: 300px;
  max-width: 400px;
  margin-left: 20px;
  margin-top: 20px;
  background: #c7b198;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-left: 6px solid rgba(121, 77, 52, 0.767);
  padding: 20px;
  transition: all 0.3s ease;
}

.book-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.book-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.book-author {
  color: #555;
  margin-bottom: 10px;
}

.book-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 0.95rem;
}

.borrow-container {
  display: grid;
  justify-content: center;
  align-content: center;
  row-gap: 80px;
  column-gap: 80px;
  min-height: 95vh;
  padding: 20px;
  padding-left: 200px;
}
.borrow-container .no-books {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}
.noBorrowed {
  position: absolute;
  font-size: 4rem;
  color: #555;
  top: 40%;
  left: 40%;
  color: rgba(121, 77, 52, 0.767);
}
