@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/poppins/Poppins-Bold.ttf"),
    url("../assets/fonts/poppins/Poppins-Black.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

.container {
  display: flex;
}

.container .left-image img {
  height: 100vh;
  width: 40vw;
  overflow: hidden;
  min-height: 100dvh;
  display: block;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 400px;
  margin-bottom: 200px;
}

.form h1 {
  margin-bottom: 100px;
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  color: rgba(121, 77, 52, 0.767);
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.loginForm #email {
  font-size: 1.5rem;
  padding: 15px 30px;
  border-radius: 10px;
  border: 2px solid rgba(121, 77, 52, 0.767);
}

.loginForm #password {
  font-size: 1.5rem;
  padding: 15px 30px;
  border-radius: 10px;
  border: 2px solid rgba(121, 77, 52, 0.767);
}

.loginForm button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgba(121, 77, 52, 0.767);
  background-color: #c7b198;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: "Poppins";
  width: 100px;
  transition: transform 0.2s ease;
}

.loginForm button:hover {
  cursor: pointer;
  color: white;
  transition: 0.1s;
  background-color: rgba(121, 77, 52, 0.767);
  transform: scale(1.05);
}

.form p,
a {
  font-family: sans-serif;
  margin-bottom: 5px;
  text-decoration: none;
}

.form a {
  color: rgba(121, 77, 52, 0.767);
}
